In [14]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\loren nascimento\appdata\roaming\python\python312\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\loren nascimento\appdata\roaming\python\python312\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import mysql.connector
from random import choice, randint

In [16]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'mysql',
    'database': 'embraer'
}

In [17]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

create_table_query = """
    CREATE TABLE IF NOT EXISTS dados_aleatorios (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nome VARCHAR(50),
        idade INT,
        cidade VARCHAR(50)
        );
"""

cursor.execute(create_table_query)
conn.commit()

In [18]:
nomes = ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hank']
cidades = ['Nova York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Filadélfia']

for _ in range(2000):
    nome = choice(nomes)
    idade = randint(18, 99)
    cidade = choice(cidades)    

    insert_query = "INSERT INTO dados_aleatorios (nome,idade,cidade) VALUES (%s, %s, %s)"
    data = (nome, idade, cidade)
    cursor.execute(insert_query, data)

conn.commit() 

cursor.close()
conn.close()

In [19]:
#Acima inseri dados 
#abaixo para pegar dados aleatórios (tabela)do myslq
#abaixo deve ser executado em outro arquivo

In [20]:
import mysql.connector
import pandas as pd

db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'mysql',
    'database': 'embraer'
}

conn = mysql.connector.connect(**db_config)
select_query ="SELECT * FROM dados_aleatorios"
df = pd.read_sql(select_query, conn)

conn.close()

print(df)

        id     nome  idade      cidade
0        1      Bob     64     Chicago
1        2     Hank     49  Filadélfia
2        3      Bob     67     Phoenix
3        4    Grace     34     Chicago
4        5    Alice     45     Phoenix
...    ...      ...    ...         ...
3995  3996     Emma     52   Nova York
3996  3997  Charlie     93     Houston
3997  3998    David     74  Filadélfia
3998  3999    Frank     41   Nova York
3999  4000     Emma     66     Houston

[4000 rows x 4 columns]

C:\Users\Loren Nascimento\AppData\Local\Temp\ipykernel_5076\2151623861.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(select_query, conn)