In [1]:
import pandas as pd

In [3]:
data1 = {
    'A': [1,2,None, 4, 5],
    'B': [10, None, 30, 40, 50]
}

df = pd.DataFrame(data1)

In [4]:
df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [ ]:
#Nan - Not a Number ( Nao é um número válido )

In [6]:
#Preencher valores ausentes com a média de cada coluna

df.fillna(df.mean(), inplace=True)
df

     A     B
0  1.0  10.0
1  2.0  32.5
2  3.0  30.0
3  4.0  40.0
4  5.0  50.0

In [8]:
data2 = {
    'A': [1,2,None, 4, 5],
    'B': [10, None, 30, 40, 50]
}

df = pd.DataFrame(data2)

df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [10]:
#Devolver linhas com pelo menos um valor ausente
#inplace = True - Se True ele vai modificar o DataFrame diretamente e não retornar uma cópia

df.dropna(inplace=True)

df

     A     B
0  1.0  10.0
3  4.0  40.0
4  5.0  50.0

In [13]:
#Preencher os valores ausentes com um valor específico ( por exemplo, -1)


data3 = {
    'A': [1,2,None, 4, 5],
    'B': [10, None, 30, 40, 50]
}

df = pd.DataFrame(data3)


df.fillna(-1, inplace=True)
df

     A     B
0  1.0  10.0
1  2.0  -1.0
2 -1.0  30.0
3  4.0  40.0
4  5.0  50.0

In [31]:
data4 = {
    'A': [1,2,None, 4, 5],
    'B': [10, None, 30, 40, 50]
}

df = pd.DataFrame(data4)



df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [27]:
#O método isna() acha os valores NaN com os métodos de soma, se consegue ter o somatório por coluna ou o somatório geral.

totalNaN = df.isna().sum().sum()
totalNaN

3

In [28]:
# 

nan_coluna = df.isna().sum()

In [32]:
data6 = {
    'A': [1,2,None, 4, 5],
    'B': [10, None, 30, 40, 50]
}

df = pd.DataFrame(data6)



df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [33]:
#Preencher valores ausentes usando outros métodos específicos 

df['A'].fillna(df['A'].median(), inplace= True)
df['B'].fillna(df['B'].ffill(), inplace=True) #Preenchimento para frente  ( forward fill)
df

     A     B
0  1.0  10.0
1  2.0  10.0
2  3.0  30.0
3  4.0  40.0
4  5.0  50.0

In [37]:
#Dados duplicados

data7 = {'A': [1, 2, 3, 4, 2, 6],
         'B': [10, 20, 30, 10, 50, 60]}

df= pd.DataFrame(data7)
df

   A   B
0  1  10
1  2  20
2  3  30
3  4  10
4  2  50
5  6  60

In [38]:
#Mostra apenas quais colunas estão duplicadas 

duplicadas = df[df.duplicated()]
duplicadas

valoresDuplicadas = df['A'][df['A'].duplicated()].value_counts()
valoresDuplicadas

A
2    1
Name: count, dtype: int64

In [39]:
#REMOVE TODAS AS DUPLICADAS MAS REMOVE POR LINHA, SE NAO HOUVER OCORRENCIA DE DUPLICADA NAS COLUNAS, ELE NAO REMOVE
#removeDuplicadas = df.drop_duplicates()
#removeDuplicadas

#Remoção por coluna

removeDuplicadasA= df.drop_duplicates(subset=['A'])
removeDuplicadasA

   A   B
0  1  10
1  2  20
2  3  30
3  4  10
5  6  60